<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="sanghaviConnectionString" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString2" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString3" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString4" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString5" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString6" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString7" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString8" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString9" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString10" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString11" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString12" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
  <add name="sanghaviunbreakablesConnectionString13" connectionString="password=sanghaviunbreakables;server=50.62.209.38;user id=sanghavi;database=sanghaviunbreakables"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
	<appSettings>
	</appSettings>
	<system.web>
		<trust level="Full"/>
 <pages enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
		<identity impersonate="true"/>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			 </assemblies>
		</compilation>
<httpRuntime 
executionTimeout="180" 
maxRequestLength="16384" 
useFullyQualifiedRedirectUrl="false" 
minFreeThreads="8" 
minLocalRequestFreeThreads="4" 
appRequestQueueLimit="100" 
enableVersionHeader="true"
/>
   <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />
	</system.web>
  <system.data>
    <DbProviderFactories>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="6.7.4.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data.Entity" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="6.7.4.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Web" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="6.7.4.0" newVersion="6.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
